// Place all the styles related to the admin/review controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
    font-size: 18px;
}

input[type=checkbox] {
    width: 1em;
    height: 1em;
    margin: 2px;
}

#students_only {
    display: inline-block;
}
