<main class="measure py2">
  <a href="/admin/listings">Back to listings</a>
  <h2>Blacklisted Phrases</h2>
  <form method="POST" class="grd">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="grd-row">
      <div class="grd-row-col-3-6">
        <input type="text" placeholder="substring" name="substring" required="required">
      </div>
      <div class="grd-row-col-2-6">
        <input class="btn--blue" type="submit" value="Add">
      </div>
    </div>
  </form>
  <table>
    <thead>
      <th></th>
      <th>Substring</th>
    </thead>
    <tbody>
      <% @blacklists.each do |bl| %>
        <tr>
          <td><%= link_to '✕', admin_blacklist_url(bl.id), method: :delete, class: 'fnt--red' %></td>
          <td class="h4"><code><%= bl.substring %></code></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>
